body {
	font-size: 100%;
	text-align:center;
	font-family:Helvetica,arial,sans-serif;
	margin:0 0 10px 0;
	background-color: #000000;
}
header, nav, section, footer {
	display: block;
	text-align:center;
}
header {
	margin: 0 0 0 0;
	padding: 4px 0 4px 0;
	width: 100%;	
	font-weight: bold;
	font-size: 100%;
	background-color:#808080;
	color:#ffffff;
}

nav.top{
	padding-top: 0;
}

nav.bottom{
	padding: 4px 4px 4px 4px;
}

section {
	padding: 20px 20px 20px 20px;
}
.command-results {
	background-color: #d6e9c6;
	margin: 0 20px 10px 20px;
	padding: 0 20px 5px 20px;
	border-radius: 100px;
}
.dashboard-url {
	display:block;
	width:100%;
	font-size: 80%;
}
.refresh {
	background-image: url('refresh.png');
}
.alarm, .alarm-both {
	background-image: url('alarm-both.png');
}
.alarm-siren {
	background-image: url('alarm-siren.png');
}
.alarm-strobe {
	background-image: url('alarm-strobe.png');
}
.alarm-off {
	background-image: url('alarm-off.png');
}
.battery, .normal-battery {
	background-image: url('normal-battery.png');
}
.low-battery {
	background-image: url('low-battery.png');
}
.open {
	background-image: url('open.png');
}
.contactSensor, .closed {
	background-image: url('closed.png');
}
.light, .light-on {
	background-image: url('light-on.png');
}
.light-off {
	background-image: url('light-off.png');
}
.lock, .locked{
	background-image: url('locked.png');
}
.unlocked {
	background-image: url('unlocked.png');
}
.motionSensor, .motion {
	background-image: url('motion.png');
}
.no-motion {
	background-image: url('no-motion.png');
}
.presenceSensor, .present {
	background-image: url('present.png');
}
.not-present {
	background-image: url('not-present.png');
}
.smokeDetector, .smoke-detected {
	background-image: url('smoke-detected.png');
}
.smoke-clear {
	background-image: url('smoke-clear.png');
}
.switch, .switch-on {
	background-image: url('switch-on.png');
}
.switch-off {
	background-image: url('switch-off.png');
}
.temperatureMeasurement, .normal-temp {
	background-image: url('normal-temp.png');
}
.low-temp {
	background-image: url('low-temp.png');
}
.high-temp {
	background-image: url('high-temp.png');
}
.waterSensor, .dry {
	background-image: url('dry.png');
}
.wet {
	background-image: url('wet.png');
}

.device-item {
	width: 200px;
	display: inline-block;
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	padding: 4px 4px 4px 4px;
	border-radius: 5px;
}

.item-image-text {
	position: relative;
	height: 75px;
	width:100%;
	display: table;
}

.item-image {
	display: table-cell;
	position: relative;
	width: 35%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-repeat:no-repeat;
	background-size:auto 70%;
	background-position: center bottom;
}

.item-status {
	width: 100%;
	font-size:75%;
	display:inline-block;
}

.item-text {
	display: table-cell;
	width: 65%;
	position: relative;
	vertical-align: middle;
	
}

.item-text.wait, .menu-item a.wait{
	color:#ffffff;
	background-image:url('wait.gif');
	background-repeat:no-repeat;
	background-position: center bottom;
}

.item-text.wait{
	background-size:auto 100%;
}

.label {
	display:inline-block;
	vertical-align: middle;
	line-height:1.4;
	font-weight: bold;
	padding-left:4px;
}

.menu-item {
	display: inline-block;
	background-color:#808080;
	padding:4px 4px 4px 4px;
	border:1px solid #000000;
	border-radius: 5px;
	font-weight:bold;
}

.menu-item .item-image{
	display:table-cell;
	background-size:auto 45%;
	height:50px;
	width:75px;
	border:0;
	border-radius:0;
}

.menu-item .item-image.switch
,.menu-item .item-image.light
,.menu-item .item-image.battery
,.menu-item .item-image.alarm
,.menu-item .item-image.refresh {
	background-size:auto 60%;
}

.menu-item a, .menu-item a:link, .menu-item a:hover, .menu-item a:active,.menu-item a:visited {
	color: #ffffff;	
	text-decoration:none;
}
.menu-item:hover,.menu-item a:hover { 
	background-color:#ffffff;
	color:#000000;
}

.menu-item span {
	width: 100%;
	font-size:75%;
	display:inline-block;
}