/*  Styles for the Simple Device Viewer Dashboard */

body {
	font-size: 100%;
	text-align:center;
	font-family:Helvetica,arial,sans-serif;
	margin:0 0 10px 0;
	background-color: #000000;
}

header, nav, section, footer { 
	display: block;
}

header {
	margin: 0 0 0 0;
	padding: 4px 0 4px 0;
	width: 100%;
	color: #000000;
	font-weight: bold;
	font-size: 100%;
	background-color: #99c2ff;
}

.dashboard-url {
	display:block;
	width:100%;
	margin-top:200px;
	font-size: 80%;
}

nav {
	background-color: #99c2ff;
}

nav div {
	display:inline-block;
  height: 75px; 
  position: relative;
	margin: 1px 1px 1px 1px;
	background-color: #cccccc;
	border: 1px solid #000000;
	border-radius: 5px;	
	width: 95px; 
}

nav div a { 
  position: absolute; 
  left: 0; 
  top: 3px; 
  height: 72px; 
  display: table; 
	text-decoration: none;
	width: 95px; 
}

nav div a span {
  display: table-cell; 
  text-align: center; 
	color: #000000;
	vertical-align: bottom; 
	font-weight: bold;
	font-size:75%;
	padding:0 3px 3px 3px;
}

section {
	padding-top: 8px;
}

.device-item {
	display:inline-block;
  height: 125px; 
  position: relative;
	margin: 1px 1px 1px 1px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 5px;	
	width: 125px; 
}

.device-item div { 
  position: absolute; 
  left: 0; 
  top: 3px; 
  height: 122px; 
  display: table; 
	text-decoration: none;
	width: 125px; 
}

.device-item div .label {
  display: table-cell; 
  text-align: center; 
	color: #000000;
	vertical-align: bottom; 
	font-size:90%;
	padding:0 3px 3px 3px;
}

.refresh { 	background-image: url('refresh.png');	}
.alarm, .alarm-both { background-image: url('alarm-both.png'); }
.alarm-siren { background-image: url('alarm-siren.png'); }
.alarm-strobe { background-image: url('alarm-strobe.png'); }
.battery, .normal-battery {	background-image: url('normal-battery.png'); }
.low-battery {	background-image: url('low-battery.png'); }
.open { background-image: url('open.png'); }
.contactSensor, .closed { background-image: url('closed.png'); }
.light, .light-on {	background-image: url('light-on.png');}
.light-off {	background-image: url('light-off.png');}
.lock, .lock-locked{	background-image: url('locked.png');}
.lock-unlocked {	background-image: url('unlocked.png');}
.motionSensor, .motion {	background-image: url('motion.png');}
.no-motion {	background-image: url('no-motion.png');}
.presenceSensor, .present {	background-image: url('present.png');}
.not-present {	background-image: url('not-present.png');}
.smokeDetector, .smoke-detected {	background-image: url('smoke-detected.png');}
.smoke-clear {	background-image: url('smoke-clear.png');}
.switch, .switch-on {	background-image: url('switch-on.png');}
.switch-off {	background-image: url('switch-off.png');}
.temperatureMeasurement, .normal-temperature {	background-image: url('normal-temp.png');}
.low-temp {	background-image: url('low-temp.png');}
.high-temp {	background-image: url('high-temp.png');}
.waterSensor, .dry {	background-image: url('dry.png');}
.wet {	background-image: url('wet.png');}

.contactSensor,.open,.closed
,.motionSensor ,.motion,.no-motion 
,.presenceSensor,.present,.not-present
,.smokeDetector,.smoke-detected,.smoke-clear
,.temperatureMeasurement,.low-temp,.normal-temp,.high-temp
,.waterSensor,.wet,.dry {
	background-size: auto 45%;
	background-repeat: no-repeat;
	background-position: top;
}

.refresh 
.alarm ,.alarm-siren,.alarm-both,.alarm-strobe
,.battery ,.low-battery,.normal-battery
,.switch,.switch-on,.switch-off
,.light,.light-on,.light-off 
,.lock,.locked,.unlocked {
	background-size: auto 65%;
	background-repeat: no-repeat;
	background-position: top;
}

section .device-item div {
	background-size: auto auto !important;
}
